.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: inline-block;
  flex-flow: row;
  background-color: #bc91d4;
  /* color: #fff; */
  border: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-shadow: #703fc0;
  transition: background-color 0.3s ease;
  cursor: pointer;
  line-height: 50px;
}

.button1 {
  line-height: 1;
  background-color: #B19CD9;
  color: white;
  font-size: 24px;
  padding: 15px 40px;
  border-radius: 10px 10px 10px 10px;
  /* transition: all 0.8s ease-in; */
}

.button1:hover {
  background-color: #8E63B5;
  cursor: pointer;
}

.button1:active {
  background-color: #5E3A8C;
  color: white;
  border-color: #5E3A8C;
}

.button2 {
  background-color: #62c282;
  color: white;
  font-size: 24px;
  padding: 10px 40px;
  border-radius: 20 20 20 20;
  transition: all 0.3s ease;
}

.button2:hover {
  background-color: #30522c;
  cursor: pointer;
}

.button2:active {
  background-color: #1A331A;
  color: white;
  border-color: #1A331A;
}

.button3 {
  background-color: #a7cbfa;
  color: white;
  font-size: 24px;
  padding: 15px 40px;
  border-radius: 10px 10px 10px 10px;
  transition: all 0.3s ease;
}

.button3:hover {
  background-color: #28616c;
  cursor: pointer;
}

.button3:active {
  background-color: #0F2C33;
  color: white;
  border-color: #0F2C33;
}