/* BUTTONS AND BUTTON TRANSITIONS */

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: inline-block;
  flex-flow: row;
  background-color: #bc91d4;
  /* color: #fff; */
  border: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-shadow: #703fc0;
  transition: background-color 0.3s ease;
  cursor: pointer;
  line-height: 50px;
}

.button1 {
  line-height: 1;
  background-color: #B19CD9;
  color: white;
  font-size: 24px;
  padding: 15px 40px;
  border-radius: 10px 10px 10px 10px;
  /* transition: all 0.8s ease-in; */
}

.button1:hover {
  background-color: #8E63B5;
  cursor: pointer;
}

.button1:active {
  background-color: #5E3A8C;
  color: white;
  border-color: #5E3A8C;
}

.button2 {
  background-color: #62c282;
  color: white;
  font-size: 24px;
  padding: 10px 40px;
  border-radius: 20 20 20 20;
  transition: all 0.3s ease;
}

.button2:hover {
  background-color: #30522c;
  cursor: pointer;
}

.button2:active {
  background-color: #1A331A;
  color: white;
  border-color: #1A331A;
}

.button3 {
  background-color: #a7cbfa;
  color: white;
  font-size: 24px;
  padding: 15px 40px;
  border-radius: 10px 10px 10px 10px;
  transition: all 0.3s ease;
}

.button3:hover {
  background-color: #28616c;
  cursor: pointer;
}

.button3:active {
  background-color: #0F2C33;
  color: white;
  border-color: #0F2C33;
}

/* NAVBAR */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #B19CD9;
  color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#nav {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#nav a {
  color: #09c372
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}

/* HAMBURGER//MOBILE MENU */

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg); translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}