<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="buttons.css">
    <body class="body">
        <div class="button_container">
          <button class="btn"><span>Let's Connect!</span></button>
          <button class="btn"><span>About Nox Domina</span></button>
          <button class="btn"><span>Learn More</span></button>
          <button class="btn"><span>Click Here</span></button>
        </div>
        <script src="index.js"></script>
      </body>
</html>