.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-family: poppins,sans-serif;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-family: poppins, sans-serif;
  }
  
  .closebtn:hover {
    color: black;
  }
  